body {
  height: 100%;
  margin: 0;
  background-image: url("../images/accommodation/StockSnap_XTRAJDQIPV.jpg");
  height: 100%;
  background-color: #f3e9e9;
  background-repeat: fill;
  background-position: center;
  background-size: cover;
}
